[Unit]
Description=Tiny agent which helps you collect metrics from various sources, relabel and filter the collected metrics and store them in VictoriaMetrics
Documentation=https://victoriametrics.github.io/
After=network.target

[Service]
Type=simple
User=_victoria-vmagent
LimitNOFILE=65536
LimitNPROC=32000
StartLimitBurst=5
StartLimitInterval=0
Restart=on-failure
RestartSec=5
WorkingDirectory=/var/lib/victoria-vmagent
EnvironmentFile=/etc/default/victoria-vmagent
ExecStart=/usr/bin/vmagent $ARGS
ExecReload=/bin/kill -SIGHUP $MAINPID

[Install]
WantedBy=multi-user.target
